<footer id="footer">
    <div class="container">
        <div class="row">
            {{ if .Site.Params.footerEnableContact }}
            <div class="col-md-3 widget">
                <h3 class="widget-title">Contact</h3>
                <div class="widget-body">
                    <p>{{ .Site.Params.phone }}<br>
                        <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a><br>
                        <br>
                        {{ .Site.Params.address }}
                    </p>
                </div>
            </div>
            {{ end }}

            {{ if .Site.Params.footerEnableFollowme }}
            <div class="col-md-3 widget">
                <h3 class="widget-title">Follow me</h3>
                <div class="widget-body">
                    <p class="follow-me-icons">
                        {{ range .Site.Params.social }}
                        {{ if .footer }}
                        <a href="{{ .url }}" target="_blank"><i class="fa {{ .icon }} fa-2"></i></a>
                        {{ end }}
                        {{ end }}
                    </p>
                </div>
            </div>
            {{ end }}

            {{ if .Site.Params.footerEnableTextWidget }}
            <div class="col-md-3 widget">
                <h3 class="widget-title">About</h3>
                <div class="widget-body">
                    <p><a href="https://github.com/txn2/kubefwd">kubefwd</a> is developed by <a href="https://twitter.com/cjimti">Craig Johnston</a>
                        and <a href="https://txn2.com">TXN2</a>. TXN2 offers a collection of open source applications with support and
                        contributions by industry innovators.</p>
                </div>
            </div>
            <div class="col-md-3 widget">
                <h3 class="widget-title">Open Source</h3>
                <div class="widget-body">
                    <p><a href="https://github.com/txn2/kubefwd">kubefwd</a> is  open source and available on <a href="https://github.com/txn2/kubefwd">Github</a>.
                        Contributors welcome.</p>
                </div>
            </div>
            {{ end }}

            {{ if .Site.Params.footerEnableFormWidget }}
            <div class="col-md-3 widget">
                <h3 class="widget-title">Form widget</h3>
                <div class="widget-body">
                    <p>{{ .Site.Params.phone }}<br>
                        <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a><br>
                        <br>
                        {{ .Site.Params.address }}
                    </p>
                </div>
            </div>
            {{ end }}


            <div class="col-md-3 widget">
                <h3 class="widget-title">Merch</h3>
                <div class="widget-body">
                    <p>
                        <a href="https://amzn.to/2QlrUJM"><img src="images/shirt.png"></a>
                    </p>
                </div>
            </div>

            <div class="col-md-3 widget">
                <h3 class="widget-title">Contact</h3>
                <div class="widget-body">
                    <p>
                        email: <a href="mailto:cjimti@gmail.com">cjimti@gmail.com</a><br/>
                        twitter: <a href="https://twitter.com/cjimti">@cjimti</a>
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>

<footer id="underfooter">
    <div class="container">
        <div class="row">

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p>{{ .Site.Params.address }}</p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-right">
                        Copyright &copy; {{ .Site.Params.year }}, {{ .Site.Params.name }}<br>
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</footer>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/template.js"></script>
<script id="dsq-count-scr" src="//{{ .Site.Params.disqus.site }}/count.js" async></script>
{{ partial "analyticstracking.html" . }}
</body>
</html>
