<div class="row section featured topspace">

    <h2 class="section-title"><span>Install</span></h2>

    <div class="">
        {{ range where .Data.Pages "Section" "install" }}
        <div class="col-sm-4 col-md-4">
            <h3 class="text-center">{{ .Title }}</h3>
            <p>{{ .Content }}</p>
            <!--<p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>-->
        </div>
        {{ end }}
    </div>
</div>

<!--<div class="row section featured topspace">-->

    <!--<h2 class="section-title"><span>Use kubefwd</span></h2>-->

    <!--{{ range where .Data.Pages "Section" "use" }}-->
    <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
            <!--<h3>{{ .Title }}</h3>-->
            <!--<p class="lead">{{ .Content }}</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--{{ end }}-->

<!--</div>-->


