<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center">
            kubefwd is used to forward Kubernetes services running in a remote cluster for the purpose of local development. kubefwd, pronounced Kube Forward, is a single binary, command line application written in Go.
        </p>
        <p class="lead text-center">
            kubefwd does <b>not require any modifications</b> to clusters it connects to. If you currently use <b>kubectl</b>, you have met the requirements for kubefwd.
        </p>

    </div>
</div> <!-- / section -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="row">
    <div class="col-md-4">
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">kubefwd is a bulk port-forwarder for Kubernetes, helping you develop applications locally. Running kubefwd allows you to access any Service from your local workstation just as you would from within another Pod in the same Namespace on the cluster <a href="https://t.co/Y77TRFdNjc">https://t.co/Y77TRFdNjc</a> <a href="https://t.co/ABlund5iid">pic.twitter.com/ABlund5iid</a></p>&mdash; Cloud Native DevOps (@cloudnatived) <a href="https://twitter.com/cloudnatived/status/1054850209430286336?ref_src=twsrc%5Etfw">October 23, 2018</a></blockquote>
    </div>
    <div class="col-md-4">
        <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">I don&#39;t run Kubernetes locally, but I do depend on services running in remote clusters. I either extract service IPs, or set up port forwarding, and keep my existing workflow. kubefwd is the tool I&#39;ve been missing. <a href="https://t.co/SCMZfl4eZn">https://t.co/SCMZfl4eZn</a> <a href="https://t.co/7j6EpevHN1">pic.twitter.com/7j6EpevHN1</a></p>&mdash; Kelsey Hightower (@kelseyhightower) <a href="https://twitter.com/kelseyhightower/status/1059519420064706579?ref_src=twsrc%5Etfw">November 5, 2018</a></blockquote>
    </div>
    <div class="col-md-4">
        <blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">Thanks so much, Craig! <a href="https://twitter.com/kubernauts?ref_src=twsrc%5Etfw">@kubernauts</a> will love it and are so grateful to use kubefwd daily and say: THX again for the brilliant work.</p>&mdash; Kubernauts / IO (@kubernauts) <a href="https://twitter.com/kubernauts/status/1062773780689440768?ref_src=twsrc%5Etfw">November 14, 2018</a></blockquote>
    </div>
</div>

