<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center">
            kubefwd is used to forward Kubernetes services running in a remote cluster for the purpose of local development. kubefwd, pronounced Kube Forward, is a single binary, command line application written in Go.
        </p>
        <p class="lead text-center">
            kubefwd does <b>not require any modifications</b> to clusters it connects to. If you currently use <b>kubectl</b>, you have met the requirements for kubefwd.
        </p>
    </div>
</div> <!-- / section -->
